name: Django CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test_db
          MYSQL_USER: test_user
          MYSQL_PASSWORD: test_password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -u root -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      DB_NAME: tos.getenv('DB_NAME'),
      DB_USER: os.getenv('DB_USER'),
      DB_PASSWORD: os.getenv('DB_PASSWORD'),
      DB_HOST: os.getenv('DB_HOST'),
      DB_PORT: os.getenv('DB_PORT'),
      DJANGO_SETTINGS_MODULE: messaging_app.settings

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r messaging_app/requirements.txt
          pip install flake8 coverage pytest pytest-django

      - name: Run flake8 linting
        run: |
          flake8 messaging_app

      - name: Run migrations
        run: |
          python messaging_app/manage.py migrate

      - name: Run tests with coverage
        run: |
          coverage run -m pytest messaging_app
          coverage xml
          coverage report

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
